services:
    _defaults:
        autoconfigure: true

    Terminal42\ShortlinkBundle\Controller\QrCodeController:
        arguments:
            - '@Terminal42\ShortlinkBundle\Repository\ShortlinkRepository'
            - '@Terminal42\ShortlinkBundle\ShortlinkGenerator'
        tags:
            - { name: controller.service_arguments }

    Terminal42\ShortlinkBundle\Controller\ShortlinkController:
        arguments:
            - '@doctrine'
            - '@contao.insert_tag.parser'
            - ~
        tags:
            - { name: controller.service_arguments }

    Terminal42\ShortlinkBundle\EventListener\DataContainer\ShortlinkLabelListener:
        arguments:
            - '@database_connection'
            - '@Terminal42\ShortlinkBundle\ShortlinkGenerator'

    Terminal42\ShortlinkBundle\EventListener\DataContainer\ShortlinkPermissionListener:
        arguments:
            - '@security.helper'

    Terminal42\ShortlinkBundle\EventListener\DataContainer\ShortlinkDateAddedListener:
        arguments:
            - '@database_connection'

    Terminal42\ShortlinkBundle\ShortlinkGenerator:
        arguments:
            - '@terminal42_shortlink.hashids'
            - '@router.request_context'
            - ~
            - ~

    Terminal42\ShortlinkBundle\EventListener\InsertTagsListener:
        arguments:
            - '@Terminal42\ShortlinkBundle\ShortlinkGenerator'
            - '@Terminal42\ShortlinkBundle\Repository\ShortlinkRepository'

    Terminal42\ShortlinkBundle\Picker\ShortlinkPickerProvider:
        arguments:
            - '@knp_menu.factory'
            - '@router'
            - '@?translator'
        tags:
            - { name: contao.picker_provider }

    Terminal42\ShortlinkBundle\Repository\ShortlinkRepository:
        arguments:
            - '@doctrine'
            - '@terminal42_shortlink.hashids'

    terminal42_shortlink.hashids:
        class: Hashids\Hashids

    terminal42_shortlink.routing.router:
        class: Symfony\Cmf\Component\Routing\DynamicRouter
        arguments:
            - '@router.request_context'
            - '@terminal42_shortlink.routing.nested_matcher'
            - '@terminal42_shortlink.routing.route_generator'
            - ''
            - '@event_dispatcher'
            - '@terminal42_shortlink.routing.route_provider'
        tags:
            - { name: router, priority: 80 }

    terminal42_shortlink.routing.nested_matcher:
        class: Symfony\Cmf\Component\Routing\NestedMatcher\NestedMatcher
        arguments:
            - '@terminal42_shortlink.routing.route_provider'
            - '@terminal42_shortlink.routing.final_matcher'

    terminal42_shortlink.routing.final_matcher:
        class: Symfony\Cmf\Component\Routing\NestedMatcher\UrlMatcher
        arguments:
            - '@terminal42_shortlink.routing.dummy_collection'
            - '@terminal42_shortlink.routing.dummy_context'

    terminal42_shortlink.routing.dummy_context:
        class: Symfony\Component\Routing\RequestContext

    terminal42_shortlink.routing.dummy_collection:
        class: Symfony\Component\Routing\RouteCollection

    terminal42_shortlink.routing.route_provider:
        class: Terminal42\ShortlinkBundle\Routing\RouteProvider
        arguments:
            - '@Terminal42\ShortlinkBundle\Repository\ShortlinkRepository'
            - '@Terminal42\ShortlinkBundle\ShortlinkGenerator'
            - ~
            - ~
            - ~

    terminal42_shortlink.routing.route_generator:
        class: Symfony\Cmf\Component\Routing\ProviderBasedGenerator
        arguments:
            - '@terminal42_shortlink.routing.route_provider'
            - '@?logger'
